{% extends "base.html" %}
{% load static %}
{% block content %}<div id="content-main">
    <section id="about" class="about justify-content-center">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <div class="d-none d-lg-block">
                        <img src="{% static '/img/NCPOR.png' %}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                    data-aos-delay="100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class=" col-12">
                                <form method="post">{% csrf_token %}
                                    <div>
                                        {% if form.errors %}
                                        <p class="errornote">
                                            Please correct the error below.
                                        </p>
                                        {% endif %}
                                        <p>Please enter your old password, for security's sake, and then
                                            enter your new password twice
                                            so we can verify you typed it in correctly.</p>
                                        <div class="table-responsive">
                                            <table class="table">
                                                {{form.as_table}}
                                            </table>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>

{% endblock %}