{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="content text-center">
                <br>
                <h1>Add Papers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{form.as_table}}
                    </table>
                    <button>Submit</button>
                </form>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static '/img/about.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}