<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Paper Repository</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--- StyleSheet --->
    <link href="{% static '/css/googlefont.css' %}" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "bootstrap-icons/font/bootstrap-icons.min.css" %}'>
    <link href='{% static "/aos/aos.css" %}' rel="stylesheet">
    <link href='{% static "/remixicon/remixicon.css" %}' rel="stylesheet">
    <link href='{% static "/css/style.css" %}' rel="stylesheet">
</head>

<body>
    {% include "header.html" %}
    {% include "nav.html" %}
    {% block content %}
    {% endblock %}

    <!--- JavaScript --->
    <script type="text/javascript" src='{% static "js/bootstrap.bundle.min.js" %}'></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src='{% static "/aos/aos.js" %}'></script>
    <script src='{% static "/glightbox/js/glightbox.min.js" %}'></script>
    <script src='{% static "/swiper/swiper-bundle.min.js" %}'></script>
    <script src='{% static "/js/main.js" %}'></script>
</body>
</html>