{% load static %}
<!-- ======= Header ======= -->
<header class="fixed-top topMenuBar"></header>
<header class="paper-header topbar">
    <!-- <img src="{% static '/img/logo.png' %}" class="azadi" !important alt="" style="float:left; display:inline;padding:20px 10px 10px 10px;width: 400 px; max-height: 172px;"> -->
    <div class="left-container">
        <div class="site-title">
            <div class="d-none d-lg-block"><strong>राष्ट्रीय ध्रुवीय एवं समुद्री अनुसंधान केन्द्र<br>
                    पृथ्वी विज्ञान मंत्रालय, भारत सरकार</strong></div>
            <span>National Centre for Polar and Ocean Research<br>
                Ministry of Earth Sciences, Government of India</span>
        </div>
    </div>
    <div class="d-none d-lg-block">
        <img src="{% static '/img/NCPOR.png' %}" class="azadi" !important alt=""
            style="float:right; display:inline;padding:20px 10px 10px 10px;width: 172px; max-height: 172px;">
    </div>
</header><!-- End Header -->