{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main">
    <br>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="{% static '/img/NCPOR.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                    data-aos-delay="100">
                    
                    {% if user.is_authenticated %}
                    <p>
                        <a href="{% url 'addpaper' %}"><button>Add New Paper</button></a>
                    </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>
{% endblock %}