{% extends "base.html" %}
{% load static %}
{% load author_filter %}
{% block content %}
<main id="main">
    <br>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-3 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Search</h5>
                            <div class="card">
                                <div class="card-body">
                                    <input type="text" name="keyword_search" class="form-control"
                                        placeholder="Keyword Search">
                                    <hr>
                                    <input type="text" name="publication_search" class="form-control"
                                            placeholder="Publication Search">
                                    <hr>
                                    <input type="text" name="author_search" class="form-control" id="author_search"
                                        placeholder="Author Search">
                                    <input type="radio" name="authro_type" id="first" value="first" >
                                    <label for="First">First Author</label><br>
                                    <input type="radio" name="authro_type" id="any" value="any"checked>
                                    <label for="any">Any Author</label>
                                </div>
                                <div class="card-footer text-end">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                    data-aos-delay="100">
                    {% for paper in papers %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 text-center"><br>
                                <div class="col-xl-12 col-md-12">
                                    {{paper.citation}}
                                    <p><b>Citation</b></p>
                                </div><br>
                                <div class="col-xl-12 col-md-12">
                                    {{paper.impact_factor}}
                                    <p><b>Impact Factor</b></p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'paperdetails' paper.pk %}"
                                            class="link-primary">{{paper.title}}</a></h5>
                                    <p class="card-text"><small class="text-muted"></small>{{paper.publication}}</p>
                                    <p class="card-text">First Author:
                                        {% for author in authors|author_first_filter:paper %}
                                        {{author.first_name}} {{author.last_name}}
                                        {% endfor %}
                                    </p>
                                    <p class="card-text"><small
                                            class="text-muted">{{paper.get_publication_date}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <nav aria-label="Page navigation">   <ul class="pagination">
                        {% if papers.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <!-- <span class="sr-only">begin</span> -->
                          </a>
                        </li>   {% endif %}
                        
                        {% for n in papers.paginator.page_range %}
                          {% if papers.number == n %}
                            <li class="page-item active">
                              <span class="page-link">{{ n }}</span>
                            </li>
                          {% elif n > papers.number|add:'-3' and n < papers.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                          {% endif %}
                        {% endfor %}
                        
                        {% if papers.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ papers.paginator.num_pages }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <!-- <span class="sr-only">end</span> -->
                            </a>
                          </li>
                          {% endif %}   </ul> </nav>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>
{% endblock %}